:root {
  --gold-crayola: hsl(38, 61%, 73%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

body {
  background-image: url('../images/hero-slider-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  color: var(--gold-crayola);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.form-container h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.form-container input[type='text'],
.form-container input[type='password'],
.form-container input[type='email'],
.form-container input[type='date'],
.form-container select {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid var(--gold-crayola);
  border-radius: 5px;
  background-color: #222;
  color: var(--gold-crayola);
  font-size: 16px;
}

.form-container input[type='text']::placeholder,
.form-container input[type='password']::placeholder,
.form-container input[type='email']::placeholder {
  color: #888;
}

.form-container input[type='button'] {
  width: 100%;
  padding: 15px;
  background-color: var(--gold-crayola);
  border: none;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container input[type='button']:hover {
  background-color: hsl(38, 61%, 66%);
}

.option a {
  color: var(--gold-crayola);
  text-decoration: none;
}

.option a:hover {
  text-decoration: underline;
}

.login-container {
  font-family: 'Georgia', 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-container {
  font-family: 'Georgia', 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option {
  margin-top: 20px;
}
.avatar-preview {
  text-align: center;
  margin-top: 10px;
}

#avatarPreview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.file-input input[type='file'] {
  display: none;
}

.file-input .avatar-label {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px auto;
  cursor: pointer;
}

.file-input .avatar-label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

.file-input .avatar-label:hover img {
  border-color: #666;
}
